includes:
    - ./vendor/larastan/larastan/extension.neon
parameters:
    paths:
        - src
        - tests

    # The level 8 is the highest level
    level: 5

    ignoreErrors:
        - '#Call to function property_exists\(\) with \$this#'
        -
            identifier: trait.unused
            path: src/Eloquent/RelationshipHelpersTrait.php
